type hcheck, domain;
type hcheck_exec, exec_type, file_type;
init_daemon_domain(hcheck)

allow hcheck data_qsee_file:dir { rw_dir_perms relabelto setattr };
allow hcheck data_qsee_file:file rw_file_perms;
allow hcheck hcheck_data_file:dir { rw_dir_perms relabelto setattr };
allow hcheck hcheck_data_file:file create_file_perms;
allow hcheck ion_device:chr_file r_file_perms;
allow hcheck rootfs:file r_file_perms;
allow hcheck security_file:dir search;
allow hcheck system_data_file:dir { create_dir_perms relabelfrom relabelto };
allow hcheck shell_exec:file { execute execute_no_trans getattr open read };
allow hcheck tee_device:chr_file rw_file_perms;
allow hcheck toolbox_exec:file { execute execute_no_trans getattr open read };
